@import "tailwindcss";
/* Hide scrollbar, keep scroll working */
.custom-scroll::-webkit-scrollbar {
  width: 0px;
}

.custom-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
